*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'roboto';
    text-align: center;
    background-image: none;
    /*background-color: rgba(150, 33, 185, 0.5);*/
    color: white;
}
#contenedor{
    float: right;
}
.banner_img{
    float: right;
    animation: movimiento 2.5s linear infinite;
}
.banner_img{
    width: 500px;
    height: 500px;
    display: block;
}
@keyframes movimiento{
    0%{
        transform: translateY(0);
    }
    50% {
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0);
    }
}